.post{
    background-color: white;
    max-width: 650px;
    width: 90vw;
    padding: 16px;

}

.post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post_header_left{
    display: flex;
    align-items: center;
}

.post_profile_pic{
    height: 35px;
    border-radius: 8px;
}

.post_delete{
    border: none;
    background-color: white;
    cursor: pointer;

}
.post_delete:focus{
    outline: none;
}
.post_photoURL{
    width: 100%;
    margin: 16px 0px;
    object-fit: cover;
}